{% extends 'core/base.html' %}
{% block title %}Blog{% endblock %}

{% block content %}
<section class="section">
    <h1>A Blog About Software Development And Life</h1>

    <div class="blog-grid">
        {% for post in posts %}
            <a href="{% url 'blog_detail' post.slug %}" class="blog-card">
                {% if post.cover_image %}
                    <img src="{{ post.cover_image.url }}" alt="{{ post.title }}">
                {% endif %}
                <div class="blog-card-body">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.excerpt }}</p>
                    <span class="read-more">Read more &rarr;</span>
                    <span class="post-date">Published {{ post.published_at|timesince }} ago</span>
                </div>
            </a>
        {% empty %}
            <p>No posts published yet.</p>
        {% endfor %}
    </div>

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}" class="btn btn-primary btn-block">
            Next <i class="fa-solid fa-arrow-right"></i>
        </a>
    {% endif %}
</section>
{% endblock %}