{% extends 'core/base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<section class="section blog-post">
    <a href="{% url 'blog_list' %}" class="back-link">&larr; Back to Blog</a>

    <h1>{{ post.title }}</h1>
    <p class="post-meta">
        Published {{ post.published_at|timesince }} ago &bull; {{ read_time }} min read
    </p>

    {% if post.cover_image %}
        <img src="{{ post.cover_image.url }}" alt="{{ post.title }}" class="post-cover">
    {% endif %}

    <div class="post-content">
    {{ post.content|safe }}
    </div>
   
</section>
{% endblock %}